.catalog:
  name: {{ .Branch }}
  version: {{ .Tag }}
  description: {{ .Project }}

version: '2'
services:
  {{ .Project }}:
    scale: 1
    start_on_create: true
    lb_config:
      port_rules:
        - priority: 1
          protocol: http
          service: cowpoke-app
          source_port: 8100
          target_port: 8100
    health_check:
      port: 42
      interval: 10000
      strategy: none
      unhealthy_threshold: 2
      healthy_threshold: 2
      response_timeout: 2000

  {{ .Project }}-app:
    scale: 1
    start_on_create: true
    health_check:
      port: 8001
      interval: 10000
      strategy: none
      unhealthy_threshold: 2
      request_line: GET / HTTP/1.1
      healthy_threshold: 2
      response_timeout: 2000
